{
  "$schema": "https://www.krakend.io/schema/krakend.json",
  "version": 3,
  "name": "DMS",
  {{template "general.tmpl" . }},
  "extra_config": {
    "telemetry/logging": {{template "logging.tmpl" .logging }}
  },
  "endpoints": [
    {{ template "service.tmpl" (set .auth "general" .general) }},
    {{ template "service.tmpl" (set .resources "general" .general) }}
  ]
}
