{
    "level": "{{ .level }}",
    "prefix": "[DMS-KRAKEND]",
    "syslog": {{ .syslog }},
    "stdout": {{ .stdout }},
    "format": "{{ .format }}",
    "syslog_facility": "{{ .syslog_facility }}"
}