{
    "endpoint": "{{ .general.base_path }}/token/",
    "method": "GET",
    "input_headers": ["Authorization"],
    "backend": [{
        "url_pattern": "{{ .token.base_path }}/token/",
        "method": "GET",
        "host": [ "{{ .token.backend }}" ]
    }],
    "extra_config": {
        {{ template "jwt.tmpl" "token:info" }}
    }
},
{
    "endpoint": "{{ .general.base_path }}/token/",
    "method": "PATCH",
    "input_headers": ["Authorization", "X-Old-Token"],
    "output_encoding": "no-op",
    "backend": [{
        "encoding": "no-op",
        "url_pattern": "{{ .token.base_path }}/token/",
        "method": "PATCH",
        "host": [ "{{ .token.backend }}" ]
    }],
    "extra_config": {
        {{ template "jwt.tmpl" "token:refresh" }}
    }
}