{
    "endpoint": "{{ .general.base_path }}/auth/basic/",
    "method": "POST",
    "output_encoding": "no-op",
    "backend": [{
        "url_pattern": "{{ .auth.methods.basic.base_path }}/auth/",
        "method": "POST",
        "host": [ "{{ .auth.methods.basic.backend }}" ]
    }]
}